Django==2.1.1
django-filter==2.0.0
djangorestframework==3.8.2
djangorestframework-jsonapi==2.6.0
inflection==0.3.1
pytz==2018.5
six==1.11.0

conda==4.1.2
conda-env==2.4.2
cycler==0.10.0
kiwisolver==1.0.1
matplotlib==2.2.3
numpy==1.15.1
pycosat==0.6.1
pycrypto==2.6.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
PyYAML==3.11
requests==2.10.0
ruamel-yaml==0.15.72
six==1.11.0
virtualenv==16.0.0
virtualenvwrapper-win==1.2.5
